<mat-card *ngFor="let topic of topics" class="topic-card mat-elevation-z10">
    <mat-card-header>
        <mat-card-title>{{topic.description}}</mat-card-title>
    </mat-card-header>
     <img mat-card-image [src]="topic.iconUrl">

        <mat-card-content>
            <p>{{topic.longDescription}}</p>
        </mat-card-content>

    <mat-card-actions class="topic-actions">
        <button mat-button class="mat-raised-button mat-primary">
            VIEW TOPIC
        </button>
    </mat-card-actions>
</mat-card>
