<div class="topic">
    <h2>{{topic?.titles?.description}}</h2>

    <img class="topic-thumbnail mat-elevation-z8" [src]="topic?.iconUrl">

    <mat-form-field class="search-bar">
        <input matInput placeholder="Search Lessons" #searchInput autocomplete="off">
    </mat-form-field>

    <div class="spinner-container" *ngIf="loading">
        <mat-spinner></mat-spinner>
    </div>

    <mat-table class="lessons-table mat-elevation-z8" [dataSource]="lessons">
        <ng-container matColumnDef="seqNo">
            <mat-header-cell *matHeaderCellDef>#</mat-header-cell>
            <mat-cell *matCellDef="let lesson">{{lesson.seqNo}}</mat-cell>
        </ng-container>

        <ng-container matColumnDef="description">
            <mat-header-cell *matHeaderCellDef>Description</mat-header-cell>
            <mat-cell class="description-cell"
                      *matCellDef="let lesson">{{lesson.description}}</mat-cell>
        </ng-container>

        <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
        <mat-row *matRowDef="let row; columns: displayedColumns"></mat-row>

    </mat-table>

    <button class="bottom-toolbar" mat-raised-button color="primary" 
            (click)="loadMore()">Load More</button>

</div>