.panel-w {
    max-width: 50em;
    margin: 0 auto;
    vertical-align: middle;
}

.panel-title {
   width: 40px;
   display: flex;
   justify-content: flex-start;
}

.panel-description {
   width: 40px;
   display: flex;
   justify-content: flex-end;
   padding-right: 25px
}
